<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="AGCI-CSF" value="https://msazure.pkgs.visualstudio.com/One/_packaging/AGCI-CSF/nuget/v3/index.json" />
    <add key="AzureSentinel-Consumption" value="https://msazure.pkgs.visualstudio.com/One/_packaging/AzureSentinel-Consumption/nuget/v3/index.json" />
  </packageSources>
</configuration>
